// complementary

[role = complementary] {
  min-height: $main-height;
}

 [role = complementary] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
}

@include media-breakpoint-up(xs) {
    [role = complementary] {
    grid-template-columns: repeat(1, 1fr);
    }
 }

@include media-breakpoint-up(sm) {
  [role = complementary] {
    grid-template-columns: repeat(1, 1fr);
  }
}

@include media-breakpoint-up(md) {
  [role = complementary] {
    // on doit contrer le flex
    flex: none;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
 }

@include media-breakpoint-up(lg) {
  [role = complementary] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 42rem; // pas la meilleure des solutions
    justify-content: space-around;
    grid-template-columns:  repeat(1, 1fr);
  }
}

@include media-breakpoint-up(xl) {
  [role = complementary] {
    grid-template-columns:  repeat(2, 1fr);
  }
}
